@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Fira Code", monospace;
}

body {
  background-color: #f1f5f8;
}

nav {
  background-color: #ffffff;
}

/* 404 Page */

.ErrorPage {
  width: 100vw;
  height: 100vh;
}

.errorImg {
  width: 100%;
  height: 100%;
  background-image: url(./assets/404.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bactoHmBTN {
  padding: 7px 5px;
  background-color: #6c63ff;
  color: #ffff;
  font-weight: 600;
}

/* Login page */

#login-card {
  width: 350px;
  border-radius: 25px;
  margin: 150px auto;
}

#email {
  border-radius: 30px;
  background-color: #ebf0fc;
  border-color: #ebf0fc;
  color: #9da3b0;
}

#button {
  border-radius: 30px;
}

#btn {
  position: absolute;
  bottom: -35px;
  padding: 5px;
  margin: 0px 55px;
  align-items: center;
  border-radius: 5px;
  left: 75px;
}
#container {
  margin-top: 25px;
}

.btn-circle.btn-sm {
  width: 40px;
  height: 40px;
  padding: 2px 0px;
  border-radius: 25px;
  font-size: 14px;
  text-align: center;
  margin: 8px;
}

/* Info card */

.icon {
  font-size: 60px;
  padding: 10px;
  border-radius: 10px;
  color: white;
}

.info-card {
  display: flex;
  background-color: #ffffff;
  padding: 13px;
  border-radius: 5px;
}
.card-info-Inner {
  margin-left: 20px;
}

.card-info-Inner h3 {
  font-size: 20px;
}

.card-info-Inner p {
  font-weight: 600;
  text-align: center;
  margin-bottom: 0;
}

.repos {
  background-color: #1aa6b7;
}

.followers {
  background-color: #ff414d;
}
.following {
  background-color: #9d65c9;
}
.gists {
  background-color: #2a3d66;
}

.main-Wrapper {
  margin-top: 30px;
}

/* User Card */

.cardComp {
  background-color: white;
  margin-top: 30px;
  border-radius: 10px;
}

.cardProf {
  display: flex;
  align-items: center;
}

.cardMain img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.profileDetail {
  margin-left: 15px;
}

.bioTExt {
  margin-top: 15px;
  margin-left: 5px;
}
a:hover {
  text-decoration: none;
}

.followBtn {
  margin-right: 20px;
  padding: 7px 10px;
  color: rgb(46, 196, 255) !important;
  border: 1px solid rgb(46, 196, 255);
  border-radius: 10px;
  font-weight: 600;
}

.followBtnParent {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.cardComp {
  padding: 25px;
}

/* Follower Card */

.followerCard img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 20px;
}

.followerCard {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.followerDetail {
  flex-grow: 1;
}

.followersMAinParent {
  max-height: 400px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.followerDetail p {
  color: #9ba4b4;
}

::-webkit-scrollbar {
  width: 20px;
}

/* ScrollBar Styling */

::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9ba4b4;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

/* ! ScrollBar Styling */

/* Queries */

@media only screen and (max-width: 400px) {
  .followBtn {
    margin-right: 0px;
  }
}
